*,::before,::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  min-width:40vw;
  width: 40vw;
  
  margin: auto;
}
.single-el{
 border: 2px solid transparent;
 box-shadow: grey 0 0 12px ;
 margin: 1rem;
 
}
.single-el p:nth-child(2){
  font-style: italic;
  
}
.loading{
  text-align: center;
}